@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 16px;
    margin: 25px;
}


.products-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin: 100px 50px;
    border: .1rem solid;
    border-radius: 16px;
}

.product img {
    height: 70%;
}

.product-description {
    display: flex;
    width: 100%;
    font-size: smaller;
    align-items: center;
    justify-content: space-between;
}

.btn-group {
    height: 50%;
    align-items: center;
    margin-right: 5%;
}