@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 16px;
    margin: 25px;
}


.products-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin: 100px 50px;
    border: .1rem solid;
    border-radius: 16px;
}

.product img {
    height: 70%;
}

.product-description {
    display: flex;
    width: 100%;
    font-size: smaller;
    align-items: center;
    justify-content: space-between;
}

.btn-group {
    height: 50%;
    align-items: center;
    margin-right: 5%;
}

.cart-icon-n-login {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-icon {
    display: flex;
    margin-right: 50px;
}
.cart-icon img{
    width: 45px;
    height: 45px;
    border-radius: 16px;
}




.cart-showcase {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cart-item {
    display: flex;
    height: 200px;
    border: .1rem solid;
    margin: 25px;
    border-radius: 16px;
    align-items: center;
}
.cart-item .product-image {
    height: 70%;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5%;
    width: 25%;
}

.cart-item p {
    margin: 1.5%;
}

 .remove {
    height: 15px;
}
.add {
    height: 20px;
}

.summary {
    display: flex;
    flex-direction: column;
    height: auto;
    border: .1rem solid;
    margin: 25px;
    border-radius: 16px;
    align-items: flex-start;
    line-height: .1rem;
}

.checkout-btn {
    margin-left: 50px;
}

