{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="">
    <div class="products-showcase">
        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>

        <div class="product">
            <img src="{% static 'images/phoenix-placeholder.jpeg' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Phoenix-suns top</h3>
                    <p>ksh 1000</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary'>Add</button>
                    <button class="btn btn-sm btn-outline-success">View</button>
                </div>   
            </div>
            
        </div>
    </div>
</div>



{% endblock %}